# CSS 120 - Environmental Data Science

## Lecture 04

### Umberto Mignozzetti

## Today's Class

Some more Exploratory Data Analysis in Python.

## Load Pandas

Load pandas is very easy. Provided that the package is installed (if not, check [here](https://pandas.pydata.org/pandas-docs/stable/getting_started/install.html) how to install it), type:

In [1]:
# My code here
import pandas as pd

## Dataset Information

Suppose we have a pandas dataset called `dat`. To make it more realistic, use the following example:

```
# For me: QOG-EI
dat = pd.read_csv('qog_ei2.csv')

# For you: NIMBY Wind Turbines
nimby = pd.read_csv('nimby.csv')
```

If you are having VPN issues, I put the data on Canvas, so you can download it and load from your own computer.

In [2]:
# My code here
dat = pd.read_csv('qog_ei2.csv')
dat.head()

,cname,ccode,year,cckp_rain,cckp_temp,edgar_ch4,edgar_co,edgar_co2gdp,edgar_co2pc,edgar_co2t,...,edgar_so2,emdat_ndis,emdat_nhome,emdat_ninj,epi_agr,epi_air,ross_gas_exp,ross_gas_netexp,ross_oil_exp,ross_oil_netexp
0,Afghanistan,4.0,2011,25.666667,13.725000,676.794808,1128.252944,0.112816,0.233037,6.923214,...,36.993859,4.0,9700.0,115.0,NaN,NaN,0.0,0.0,0.0,0.0
1,Afghanistan,4.0,2012,29.641667,13.133333,665.967057,2399.616400,0.140125,0.315852,9.695696,...,37.765312,11.0,2680.0,427.0,NaN,NaN,0.0,0.0,0.0,0.0
2,Afghanistan,4.0,2013,29.508333,14.066667,672.457563,4214.489091,0.223629,0.514951,16.340258,...,59.684960,6.0,0.0,143.0,NaN,NaN,0.0,NaN,NaN,NaN
3,Afghanistan,4.0,2014,24.108333,13.516667,687.200050,1133.124883,0.138165,0.316582,10.370594,...,63.695128,3.0,10000.0,135.0,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,4.0,2015,32.433333,13.850000,689.005619,1071.567819,0.129386,0.292045,9.852574,...,60.217536,7.0,45100.0,58102.0,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Your code here: Load (nimby.csv)

### .head(.)

This method prints the first few observations of the dataset.

Syntax and Usage: `print(dat.head())`

In [4]:
# My code here
dat.head()

,cname,ccode,year,cckp_rain,cckp_temp,edgar_ch4,edgar_co,edgar_co2gdp,edgar_co2pc,edgar_co2t,...,edgar_so2,emdat_ndis,emdat_nhome,emdat_ninj,epi_agr,epi_air,ross_gas_exp,ross_gas_netexp,ross_oil_exp,ross_oil_netexp
0,Afghanistan,4.0,2011,25.666667,13.725000,676.794808,1128.252944,0.112816,0.233037,6.923214,...,36.993859,4.0,9700.0,115.0,NaN,NaN,0.0,0.0,0.0,0.0
1,Afghanistan,4.0,2012,29.641667,13.133333,665.967057,2399.616400,0.140125,0.315852,9.695696,...,37.765312,11.0,2680.0,427.0,NaN,NaN,0.0,0.0,0.0,0.0
2,Afghanistan,4.0,2013,29.508333,14.066667,672.457563,4214.489091,0.223629,0.514951,16.340258,...,59.684960,6.0,0.0,143.0,NaN,NaN,0.0,NaN,NaN,NaN
3,Afghanistan,4.0,2014,24.108333,13.516667,687.200050,1133.124883,0.138165,0.316582,10.370594,...,63.695128,3.0,10000.0,135.0,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,4.0,2015,32.433333,13.850000,689.005619,1071.567819,0.129386,0.292045,9.852574,...,60.217536,7.0,45100.0,58102.0,NaN,NaN,NaN,NaN,NaN,NaN

### .shape

This prints the number of rows and columns of a dataset.

Syntax and Usage: `print(dat.shape)`

Note: no parenthesis necessary.

In [5]:
# My code here
print(dat.shape)

(1944, 22)

### .describe(.)

This method gives us a few summary statistics of the dataset.

Syntax and Usage: `print(dat.describe())`

In [6]:
# My code here
dat.describe()

,ccode,year,cckp_rain,cckp_temp,edgar_ch4,edgar_co,edgar_co2gdp,edgar_co2pc,edgar_co2t,edgar_pm10,...,edgar_so2,emdat_ndis,emdat_nhome,emdat_ninj,epi_agr,epi_air,ross_gas_exp,ross_gas_netexp,ross_oil_exp,ross_oil_netexp
count,1944.000000,1944.000000,1909.000000,1909.000000,935.000000,920.000000,1592.000000,1592.000000,1592.000000,935.000000,...,920.000000,1135.000000,1.135000e+03,1135.000000,180.000000,180.000000,510.000000,3.770000e+02,377.000000,3.770000e+02
mean,431.576646,2015.493827,101.498813,19.617308,1934.365057,3133.246175,0.263105,5.063384,192.187607,316.148844,...,522.875882,3.185903,8.433491e+03,2204.177093,39.330556,44.223333,220.026074,-9.924248e+07,247.826074,-1.931242e+09
std,253.820837,2.873730,73.645173,8.077334,5814.050697,11685.103652,0.487962,8.662352,922.562575,1434.611139,...,2599.615848,4.331682,7.745217e+04,18972.864223,17.611478,21.887447,817.171735,2.537080e+09,769.882584,4.030846e+10
min,4.000000,2011.000000,1.591667,-7.058333,0.078601,0.017547,0.017499,0.028257,0.028978,0.000003,...,0.000098,1.000000,0.000000e+00,0.000000,0.000000,9.900000,0.000000,-1.257700e+10,0.000000,-3.131204e+11
25%,208.000000,2013.000000,44.958333,12.058333,112.523592,147.570238,0.120669,0.632430,3.018878,11.408565,...,8.376655,1.000000,0.000000e+00,0.000000,26.425000,27.650000,0.000000,-2.278775e+08,0.000000,-3.530433e+09
50%,428.000000,2015.000000,85.375000,23.108333,466.890681,509.657832,0.183944,2.313080,13.055521,44.095190,...,43.459212,2.000000,0.000000e+00,0.000000,38.750000,37.900000,0.000000,0.000000e+00,0.058950,0.000000e+00
75%,659.000000,2018.000000,143.491667,26.058333,1457.967982,1865.734227,0.276122,6.726182,72.949199,158.261192,...,197.125007,3.000000,0.000000e+00,100.000000,51.800000,54.850000,2.533853,0.000000e+00,59.632440,2.363406e+08
max,894.000000,2020.000000,401.500000,29.316667,62790.361631,129684.105502,12.475647,173.591562,11535.199836,17040.646337,...,33052.250035,43.000000,2.000000e+06,521028.000000,79.500000,98.800000,8008.198000,2.105596e+10,7477.621250,2.324591e+11

## Statistics

We can easily compute statistics from the data. Here are a few methods that we have available:

| Method           | Description                  |
|------------------|------------------------------|
| `.median()`      | Median                       |
| `.mean()`        | Mean                         |
| `.min()`         | Minimum                      |
| `.max()`         | Maximum                      |
| `.var()`         | Variance                     |
| `.std()`         | Standard Deviation           |
| `.sum()`         | Sum values                   |
| `.mode()`        | More frequent values         |
| `.quantile(val)` | Quantile value (btw 0 and 1) |

In [15]:
# My code here
dat.head()
dat.columns

Index(['cname', 'ccode', 'year', 'cckp_rain', 'cckp_temp', 'edgar_ch4',
       'edgar_co', 'edgar_co2gdp', 'edgar_co2pc', 'edgar_co2t', 'edgar_pm10',
       'edgar_pm25', 'edgar_so2', 'emdat_ndis', 'emdat_nhome', 'emdat_ninj',
       'epi_agr', 'epi_air', 'ross_gas_exp', 'ross_gas_netexp', 'ross_oil_exp',
       'ross_oil_netexp'],
      dtype='object')

In [8]:
dat['cckp_temp'].mean()

19.617308363890345

In [9]:
dat['cckp_temp'].median()

23.1083333333333

In [10]:
dat['emdat_ndis'].mode()

0    1.0
Name: emdat_ndis, dtype: float64

In [11]:
dat['cckp_temp'].quantile(0.25)

12.0583333333333

In [12]:
dat['cckp_temp'].quantile(0.90)

27.7333333333333

In [13]:
dat['cckp_temp'].quantile(0.10)

8.013333333333335

## Statistics

**Your turn**: Try with the `nimby` dataset.

In [ ]:
# Your answers here

## Counting

### Counting data

To count data we need to:

```
dat["variable"].value_counts()
```

If we want it sorted, we can type:

```
dat["variable"].value_counts(sort = True)
```

We can also count proportions:

```
dat["variable"].value_counts(normalize = True)
```

In [16]:
# My code here
dat['emdat_ndis'].value_counts(sort = False, normalize = True)

emdat_ndis
4.0     0.075771
11.0    0.002643
6.0     0.019383
3.0     0.149780
7.0     0.022907
5.0     0.049339
1.0     0.405286
2.0     0.209692
8.0     0.009692
20.0    0.002643
28.0    0.001762
43.0    0.000881
41.0    0.000881
36.0    0.001762
33.0    0.000881
30.0    0.000881
22.0    0.002643
17.0    0.000881
10.0    0.008811
9.0     0.004405
13.0    0.005286
12.0    0.006167
16.0    0.003524
18.0    0.002643
23.0    0.001762
14.0    0.002643
15.0    0.001762
19.0    0.000881
26.0    0.000881
25.0    0.000881
29.0    0.000881
27.0    0.000881
24.0    0.000881
Name: proportion, dtype: float64

In [17]:
dat['emdat_ndis'].value_counts(sort = False)

emdat_ndis
4.0      86
11.0      3
6.0      22
3.0     170
7.0      26
5.0      56
1.0     460
2.0     238
8.0      11
20.0      3
28.0      2
43.0      1
41.0      1
36.0      2
33.0      1
30.0      1
22.0      3
17.0      1
10.0     10
9.0       5
13.0      6
12.0      7
16.0      4
18.0      3
23.0      2
14.0      3
15.0      2
19.0      1
26.0      1
25.0      1
29.0      1
27.0      1
24.0      1
Name: count, dtype: int64

In [18]:
dat['emdat_ndis'].value_counts()

emdat_ndis
1.0     460
2.0     238
3.0     170
4.0      86
5.0      56
7.0      26
6.0      22
8.0      11
10.0     10
12.0      7
13.0      6
9.0       5
16.0      4
11.0      3
14.0      3
18.0      3
22.0      3
20.0      3
36.0      2
28.0      2
23.0      2
15.0      2
17.0      1
30.0      1
33.0      1
41.0      1
43.0      1
19.0      1
26.0      1
25.0      1
29.0      1
27.0      1
24.0      1
Name: count, dtype: int64

## Statistics

**Your turn**: Try with the `nimby` dataset: Check the frequency of wind turbines.

In [ ]:
# Your answers here

### Detecting missing data

We can also detect missing data using the function:

```
dat.isna()
```

And if we want, count the missing data by variable:

```
dat.isna().sum()
```

Ultimately, to remove the missing we should:

```
dat.dropna()
```

Or we can fill the missing with a custom value (proceed with caution here!)

```
dat.fillna(0)
```

In [ ]:
dat.isna()

In [ ]:
dat

In [ ]:
dat.isna().sum()

## Plots

Now, let's create some plots!

The library to create plots is the `matplotlib`. We can import this library easily in python:

```
from matplotlib import pyplot as plt
```

In [ ]:
# My code here
from matplotlib import pyplot as plt

In [ ]:
dat.head()

### Histogram

We can make a simple histogram using the function `.hist()`:

```
dat['variable'].hist()
plt.show()
```

And if we want overlapping histograms by a category:

```
dat[dat['vcat'] == 'v1']['variable'].hist()
dat[dat['vcat'] == 'v2']['variable'].hist()
plt.legend(["v1", "v2"])
plt.show()
```

Let's try?

In [ ]:
# My code here
dat.cckp_rain.hist()

In [ ]:
dat.cckp_temp.hist()

## Univariate x (multi/bi)variate statistics

So far, we have studied only univariate stats: Stats about a single variable.

But our main interest is to understand relationships between variables.

To that end, we need to study combinations of variables, and how one variable affects the other.

Next class, we will study techniques for multivariate exploratory data analysis.

## Great work!